name: release

on:
  release:
    types: published

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true

    - name: Set up Python 3.8
      uses: actions/setup-python@v4
      with:
        python-version: 3.8

    - name: Install Qt lrelease
      run: |
        sudo apt-get update
        sudo apt-get install qt5-default qttools5-dev-tools

    - name: Install qgis-plugin-ci
      run: pip3 install qgis-plugin-ci

    - name: Deploy plugin
      run: >-
        qgis-plugin-ci
        release ${GITHUB_REF/refs\/tags\//}
        --github-token ${{ secrets.GITHUB_TOKEN }}
        --osgeo-username ${{ secrets.OSGEO_USER }}
        --osgeo-password ${{ secrets.OSGEO_PASSWORD }}
        --transifex-token ${{ secrets.TX_TOKEN }}
